# Source Control Ignore for SmartAttend
[Bb]in/
[Oo]bj/
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

appsettings.json
appsettings.Development.json

# Packages
packages/
*.nuget.props
*.nuget.targets